@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Mouse+Memoirs&display=swap');
#content {
  max-width: 1600px;
  margin: 0 auto;
}
body {
  background-color: #ebf8ff;
  color: black;
  font-size: 22px;
  font-family: DM Sans, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
h2 {
  margin: 0;
}
nav {
  background-color: #29d6b3;
}
nav a {
  text-align: center;
  color: #3265cd;
  text-decoration: none;
  padding: 35px;
}
#hero-msg h1,
#hero-msg h4 {
  text-align: center;
}
.button-box {
  text-align: center;
}
main section {
  text-align: center;
}
main section img {
  box-sizing: border-box;
}
#background {
  height: 725px;
  background-color: #2ea5d1;
}
header {
  background-color: #29d6b3;
  color: #3265cd;
}


nav header a:hover {
  background-color: #3265cd;
  color: white;
}
.book, .join {
  background-color: #29d6b3;
  color: #3265cd;
  text-decoration: none;
  font-size: 18px;
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 7px;
}
.book:hover, .join:hover {
  background-color: #3265cd;
  color: white;
}
.msg {
  background-color: #2ea5d1;
  line-height: 1.5em;
  padding: 35px;
}
footer {
  background-color: #3265cd;
  color: white;
  padding: 25px 50px;
  margin-top: 200px;
}
footer a {
  color: white;
  text-decoration: none;
}
footer a:hover {
  color: #29d6b3;
}
footer .social img {
  padding-top: 15px;
}
.home-title {
  color: black;
  font-family: "Mouse Memoirs";
  font-size: 2em;
  margin-top: 10px;
}
.msg h2 {
  color: black;
  font-family: "Mouse Memoirs";
}
.msg p {
  color: black;
  font-size: .8em;
  padding-bottom: 15px;
}
#logo_link {
  padding-top: 15px;
}
.logo {
  width: 80px;
  clip-path: circle(48%);
}
.icon {
  width: 80px;
  padding-top: 10px;
}
.rivers-card, .camping-card, .rapids-card {
  margin: 200px;
}
.card-img {
  border: 10px solid #29d6b3;
}
#hero-img {
  width: 100%;
}
